html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

.main-container {
  background-image: url("Login.svg");
  height: 100%;
}

/* Imagen del fondo */
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  /*   margin-bottom: 40px; */
  width: 80px;
  height: 110px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.logo {
  /*  background-color: red; */
  width: 80px;
  height: 80px;
  text-align: center;
}

.logo-name {
  color: #f61b16;
  text-align: center;
  font-size: 24px;
}

.eslogan {
  width: 80%;
  text-align: center;
}

.inputs-container {
  text-align: center;
}

.link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
  color: #ff2a2a;
  text-decoration: none;
  cursor: pointer;
}

/* .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.form__input {
  margin-bottom: 10px;
  height: 39px;
  width: 258px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ffb800, #ff6f00);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.btn {
  text-decoration: none;
  height: 30px;
  padding: 20px;
  color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(45deg, #f51616, #ffb800);
}

.btn-g {
  text-decoration: none;
  height: 30px;
  padding: 20px;
  color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;

  border: 1px solid #cbbdbd;
  background-color: white;
}

.timeline {
  background-color: black;
  height: 100%;
  width: 100%;
  color: #ff6f00;
}
/* registro */
.logo {
  background-image: url("logo.svg");
}
.eslogan {
  font-size: 20px;
  margin: 20px;
}
.form__input-register {
  margin-bottom: 10px;
  height: 39px;
  width: 258px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ffb800, #ff6f00);
  background-origin: border-box;
  background-clip: content-box, border-box;
}
.register-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form__link {
  width: 200px;
  font-size: 12px;
  text-decoration: none;
}
.form--oneline {
  display: flex;
  width: 250px;
}
.form__link:hover {
  color: #ff2a2a;
}
.form__parrafo {
  width: 250px;
  font-size: 13px;
  text-align: center;
  margin: 10px;
}
.form__warning {
  margin: 10px;
  font-size: 14px;
  color: #ff2a2a;
}
.form__button {
  margin-bottom: 10px;
  height: 39px;
  width: 197px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(45deg, #f51616, #ffb800);
}
