html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  height: 100%;
}

*,
*:after,
*:before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  height: 100%;
}

.main-container {
  background-image: url("Login.svg");
  height: 100%;
}

/* Imagen del fondo */
.login {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.logo-container {
  width: 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* min-width: 100px; */
}

.logo {
  /*  background-color: red; */
  width: 100px;
  height: auto;
  text-align: center;
  content: url("logo.svg");
}

.logo-name {
  color: #f61b16;
  text-align: center;
  font-size: 26px;
  font-family: "Poppins";
}

.eslogan-container {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 30px auto 20px;
}

.eslogan-text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}

.inputs-container {
  text-align: center;
}

.link {
  font-weight: 600;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  font-size: 13px;
}

.link:hover {
  color: #ff2a2a;
  text-decoration: none;
  cursor: pointer;
}

.form__input {
  margin-bottom: 10px;
  height: 39px;
  width: 258px;
  border-radius: 25px;
  border: 1px solid transparent;
  background-image: linear-gradient(white, white),
    radial-gradient(circle at top left, #ffb800, #ff6f00);
  background-origin: border-box;
  background-clip: content-box, border-box;
  text-indent: 30px;
}

.icon-mail:before {
  content: "\e90d";
  position: relative;
  top: 2px;
  left: 23px;
}

.icon-lock:before {
  content: "\e90b";
  position: relative;
  top: 2px;
  left: 23px;
}

.btn {
  text-decoration: none;
  height: 30px;
  padding: 20px;
  color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(45deg, #f51616, #ffb800);
}

.btn-g {
  text-decoration: none;
  height: 30px;
  padding: 20px;
  color: #000;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: bold;

  border: 1px solid #cbbdbd;
  background-color: white;
}

.timeline {
  background-color: black;
  height: 100%;
  width: 100%;
  color: #ff6f00;
}

/* registro */

.register-container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.form__link {
  width: 200px;
  font-size: 12px;
  text-decoration: none;
}
.form--oneline {
  display: flex;
  width: 250px;
}
.form__link:hover {
  color: #ff2a2a;
}
.form__parrafo {
  width: 250px;
  font-size: 13px;
  text-align: center;
  margin: 10px;
}
.form__warning {
  margin: 10px;
  font-size: 14px;
  color: #ff2a2a;
}
.form__button {
  margin-bottom: 10px;
  height: 39px;
  width: 197px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
  border: none;
  background-image: linear-gradient(45deg, #f51616, #ffb800);
}

.err-container {
  height: 3rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.error-msg {
  color: #ff2a2a;
  /* font-size: 0.9rem; */
}
.form__button-g {
  height: 35px;
  width: 200px;
  border-radius: 20px;
  border: 1px solid #cbbdbd;
  background-color: white;
}

/*Estilos del Modal*/

.modal-contenedor {
  position: fixed;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 90%;
  background-color: #fff;
  display: flex;
  transition: transform 1s;
  transform: translateY(0%);
  border-radius: 10px;
}

.contenedor-mensaje{
  padding: 20px;
  border-top: 1px solid #EFEFF1;
  border-bottom: 1px solid #EFEFF1;
}

.modal-textos{
  text-align:justify;
  font-size: smaller;
}
.modal-textos > h2{
padding: 20px;
text-align: center;
}
.cerrar {
  padding: 20px;
  text-align: center;
  color: #f51616;
  cursor: pointer;
}

.modal-cerrar {
  transform: translateY(-200%);
}

/* terminos y condiciones */
.parrafo-terminos{
  font-size: smaller;
}
.parrafo-politica:hover{
  color: #f51616;
}